Chapter 2

1. Addera de två valen nedan och spara resultatet i en variabel som heter my_result. Printa ut variabeln my_result.

In [1]:
num_1 = 5
num_2 = 3
my_result = num_1 + num_2
print(my_result)

8

2. Multiplicera de två talen nedan och spara resultatet i en variabel som heter my_mult_result. Printa ut variabeln my_mult_result.

In [2]:
number_1 = 10
number_2 = 7
my_mult_result = number_1 * number_2
print(my_mult_result)

70

3. Förklara vad nedstående kod gör.

In [3]:
10 % 3

1

Koden ger rest av division.

4. Vi vet att 27/6 = 4.5. Förklara vad nedstående kod gör.

In [7]:
27//6

4

Resultatet av division rundas nedåt till närmaste heltal.

5. Vad är fel i nedstående kod? Rätta till koden så det fungerar.

In [9]:
print('it's fun to learn Python!')

SyntaxError: unterminated string literal (detected at line 1) (3763140116.py, line 1)

The error is in the apostrophe that is treated like a single quote. Corrected code:

In [11]:
print("It's fun to learn Python!")
print('It\'s fun to learn Python!')

It's fun to learn Python!
It's fun to learn Python!

6. Vad gör dedanstående kod?

In [12]:
print("ha"*3)

hahaha

Prints the string "ha" three times.

7. Extrahera namnet "Anna" från strängen nedan genom att göra en slice.

In [14]:
full_name = "Anna Andersson"
first_name = full_name[0:5]
print(first_name)

Anna

8. Hur många tecken har strängen nedan? Använd len()-funktionen.

In [16]:
full_name = "Anna Andersson"
print(len(full_name))

14

9. a) Genom att använda en f-string med de två variabelna founder och language, printa ut texten "Hello Guido, Python is really fun to learn!"
b) Du vill nu skriva ut hela namnet "Guido van Rossum" så texten blir "Hello Guido van Rossum, Python is really fun to learn!". Gör det genom att ändra namnet i variabeln founder och exekvera din f-string på nytt.

In [17]:
founder = "Guido"
language = "Python"
print("Hello " + founder + ", " + language + " is really fun to learn!")

Hello Guido, Python is really fun to learn!

In [18]:
founder = "Guido van Rossum"
print("Hello " + founder + ", " + language + " is really fun to learn!")

Hello Guido van Rossum, Python is really fun to learn!

10. Varför blir koden nedan fel?

In [20]:
my_first_tuple = (10, 5, 'hi', 3)
my_first_tuple[1] = 10

TypeError: 'tuple' object does not support item assignment

Tuple is immutable, can't change, can't change value.

11. Vad gör koden nedan?

In [22]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1][2])

languages
apples
C

Prints first value of tuple, last value, and third value of the list

12. Kolla på vilken datatyp variabeln my_tuple har genom att använda type()-funktionen.

In [23]:
type(my_tuple)

tuple

13. Vad gör koden nedan?

In [24]:
my_first_list = [10, 5, 'hi', 3]
my_first_list[1] = 7
my_first_list

[10, 7, 'hi', 3]

Changes the second value to 7

14. Se vilken datatyp variabeln my_first_list har genom att använda type()-funktionen.

In [25]:
type(my_first_list)

list

15. Beräkna antalet element i variabeln shopping_list genom att använda len()-funktionen.

In [31]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']
len(shopping_list)

5

16. Vi glömde att lägga till bröd i vår shoppinglista. Gör det genom att använda append()-metoden och printa ut den nya shoppinglistan.

In [32]:
shopping_list.append('bread')
print(shopping_list)

['apple', 'banana', 'grapes', 'eggs', 'milk', 'bread']

17. Beräkna antalet gånger siffran 7 finns i listan my_numbers. Använd count()-metoden.

In [33]:
my_numbers = [1, 7, 2, 7, 10, 7]
my_numbers.count(7)

3

18. Konvertera one_tuple till en lista och spara det i en variabel som heter one_list.

In [35]:
one_tuple = (10, 5, 3)
one_list = list(one_tuple)
print(one_list)

[10, 5, 3]

19. Vad gör nedstående kod?

In [36]:
my_first_dict = {'Anna' : 38, 'Goran' : 19, 'Lennart' : 59, 'Halimah' : 28}
my_first_dict['Goran']

19

Creates a dict with four keys and corresponding values and returns the value for the key 'Goran'.

20. Kolla på vilken datatyp variabeln my_first_dict har genom att använda type()-funktionen.

In [37]:
type(my_first_dict)

dict

21. Varför printas elementet 5 endast ut en gång i koden nedan?

In [38]:
my_set = {10, 5, 2, 5, 5}
print(my_set)

{10, 2, 5}

A set contains only unique values.

22. Vi har definierat de två mängderna A och B nedan.
a) hitta alla element som är i både A och B. Använd intersection()-metoden.
b) hitta alla element som är i A och/eller B. Använd union()-metoden.
c) hitta alla element som är i A men inte i B. Använd difference()-metoden.

In [40]:
A = {1, 2, 3, 4, 5}
B = {3, 10, 5, 7}
print(A.intersection(B))
print(A.union(B))
print(A.difference(B))

{3, 5}
{1, 2, 3, 4, 5, 7, 10}
{1, 2, 4}

23. Vi har definierat de två listorna list_a och list_b nedan. Nedanstående uppgifter kan enkelt lösas genom att konvertera de definierade listorna till mängder först.
a) hitta alla element som är i både list_a och list_b
b) hitta alla element som är i list_a och/eller list_b

In [46]:
list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 10, 21]
A = set(list_a)
B = set(list_b)
print(A.intersection(B))
print(A.union(B))

{5}
{1, 2, 3, 4, 5, 6, 10, 21}

24. Hitta alla unika element i variabeln duplicate_values genom att konvertera tuple:n till ett set.

In [47]:
duplicate_values = (10, 2, 2, 10, 1)
duplicate_set = set(duplicate_values)
print(duplicate_set)

{1, 10, 2}

End of chapter 2 exercises